- model_class = Post
.page-header.col-lg-6.col-lg-offset-3
  h1=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize
  = render :partial => 'form'
